<div class="container" id="scroll">
  <app-menu-item icon="home" text="Início"></app-menu-item>
  <app-menu-item icon="local_fire_department" text="Em alta"></app-menu-item>
  <app-menu-item icon="subscriptions" text="Inscrições"></app-menu-item>
  <hr class="divider">
  <app-menu-item icon="video_library" text="Biblioteca"></app-menu-item>
  <app-menu-item icon="history" text="Histórico"></app-menu-item>
  <app-menu-item icon="slideshow" text="Seus vídeos"></app-menu-item>
  <app-menu-item icon="watch_later" text="Assistir mais tarde"></app-menu-item>
  <app-menu-item icon="thumb_up_alt" text="Vídeos marcados co..."></app-menu-item>
  <app-menu-item icon="expand_more" text="Mostrar mais"></app-menu-item>
  <hr class="divider">
  <div><span>INSCRIÇÕES</span></div>
  <app-menu-item icon="expand_more" text="Mostrar mais"></app-menu-item>
  <hr class="divider">
  <div><span>MAIS DO YOUTUBE</span></div>
  <app-menu-item icon="ondemand_video" text="YouTube Premium"></app-menu-item>
  <app-menu-item icon="theaters" text="Filmes"></app-menu-item>
  <app-menu-item icon="sports_esports" text="Jogos"></app-menu-item>
  <app-menu-item icon="cast" text="Ao vivo"></app-menu-item>
  <app-menu-item icon="emoji_objects" text="Aprender"></app-menu-item>
  <hr class="divider">
  <app-menu-item icon="settings" text="Configurações"></app-menu-item>
  <app-menu-item icon="flag" text="Histórico de denúncias"></app-menu-item>
  <app-menu-item icon="help" text="Ajuda"></app-menu-item>
  <app-menu-item icon="feedback" text="Enviar feedback"></app-menu-item>
  <hr class="divider"> 
  <footer>
    <p>
      Esse é um clone da interface escura do youtube para fins de 
      aprendizado, portanto, sem fins lucrativos
    </p>
    <a class="buttonGithubPage" href="https://www.github.com/alissonrms/youtubeUI" target="_blank">
      <b class="buttonText">
        Código no GitHub 
      </b>
      <img src="../../../../assets/icon.svg" class="buttonGithubIcon">
    </a>
  </footer>
  <hr class="divider"> 
</div>