<header>
  <div class="left">
    <a>
      <mat-icon aria-hidden="false" aria-label="Menu">menu</mat-icon>
    </a>
    <a href="https://www.youtube.com/">
      <img src="../assets/youtubeWhite.png" width="105" height="70">
    </a>
  </div>

  <div class="center">
    <input type="text" placeholder="Pesquisar">
    <button><mat-icon class="findButtonIcon" aria-hidden="false" aria-label="Menu">search</mat-icon></button>
  </div>

  <div class="right">
    <mat-icon aria-hidden="false" aria-label="Menu">video_call</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Menu">apps</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Menu">notifications</mat-icon>
    <img class="profileIcon" src="../assets/profileIcon.png" width="33" height="33" alt="">
  </div>
</header>
